<span class="back-link" routerLink="/conferences">← Retour aux conférences</span>

<div class="form-page">
  <div class="page-header">
    <div>
      @if (isEdit) {
        <h1>Modifier la conférence</h1>
        <p>Mettez à jour les informations.</p>
      } @else {
        <h1>Nouvelle conférence</h1>
        <p>Remplissez les détails de votre conférence.</p>
      }
    </div>
  </div>

  <div class="form-card">
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>

      <div class="form-group">
        <label>Titre *</label>
        <input type="text" formControlName="titre" placeholder="Ex : DevFest 2025" />

        @if (f['titre'].touched && f['titre'].errors?.['required']) {
          <small style="color:var(--danger);font-size:12px;">
            Le titre est requis.
          </small>
        }
      </div>

      <div class="form-group">
        <label>Description *</label>
        <textarea formControlName="description" placeholder="Décrivez la conférence..."></textarea>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Thème *</label>
          <input type="text" formControlName="theme" placeholder="Ex : Intelligence Artificielle" />
        </div>

        <div class="form-group">
          <label>Lieu *</label>
          <input type="text" formControlName="lieu" placeholder="Ex : Paris, France" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Date de début *</label>
          <input type="date" formControlName="date_debut" />
        </div>

        <div class="form-group">
          <label>Date de fin *</label>
          <input type="date" formControlName="date_fin" />
        </div>
      </div>

      <div class="form-group">
        <label>ID Organisateur *</label>
        <input type="number" formControlName="organisateur_id" placeholder="ID de l'utilisateur organisateur" />
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          {{ isEdit ? 'Enregistrer les modifications' : 'Créer la conférence' }}
        </button>
      </div>

    </form>
  </div>
</div>